.header {
  padding: 3em 1em;
  box-sizing: border-box;
  background-color: var(--header-bg-color);
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
.logo {
  float: left;
}
.gnb {
}
.gnb ul {
  float: right;
  display: flex;
}
.gnb ul li {
}
.gnb ul li a {
  text-align: center;
  padding: 1em 0.5em;
}
